
.width900 {
  width: 900px;
}

.width800 {
  width: 800px;
}

.width700 {
  width: 700px;
}

.width600 {
  width: 600px;
}

.width500 {
  width: 500px;
}

.width400 {
  width: 400px;
}

.width350 {
  width: 350px;
}

.width300 {
  width: 300px;
}

.width250 {
  width: 250px;
}

.width245 {
  width: 245px;
}

.width170 {
  width: 170px;
}

.width150 {
  width: 150px;
}

.width100 {
  width: 100px;
}

.width80 {
  width: 80px;
}

.width50 {
  width: 50px;
  
}

.width25 {
  width: 25px;
}

.height900 {
  height: 900px;
}

.height800 {
  height: 800px;
}

.height700 {
  height: 700px;
}

.height600 {
  height: 600px;
}

.height500 {
  height: 500px;
}

.height400 {
  height: 400px;
}

.height360 {
  height: 360px;
}

.height350 {
  height: 350px;
}

.height300 {
  height: 300px;
}

.height200 {
  height: 200px;
}

.height150 {
  height: 150px;
}

.height125 {
  height: 125px;
}

.height100 {
  height: 100px;
}

.height90 {
  height: 90px;
}

.height80 {
  height: 80px;
}

.height75 {
  height: 75px;
}

.height70 {
  height: 70px;
}

.height50 {
  height: 50px;
  
}

.height25 {
  height: 25px;
}

.test li {
	float:left;
	padding:0px 27px;
}

.foot-icpinfo {
	height:30px;
	margin-top:10px;
	text-align:center;
}

.bgcolor0 {
	background-color: #ffffff;
}

.bgcolor1 {
	background-color: #ffffff;
}

.bgcolor2 {
	background-color: #ffffff;
}

.bgcolor3 {
	background-color: #ffffff;
}

.margin-left0 {
	margin-left:0px;
}

.margin-left5 {
	margin-left:5px;
}

.margin-left10 {
	margin-left:10px;
}

.margin-left15 {
	margin-left:15px;
}

.margin-left20 {
	margin-left:20px;
}

.margin-left30 {
	margin-left:30px;
}

.margin-left40 {
	margin-left:40px;
}

.margin-left50 {
	margin-left:50px;
}

.margin-left70 {
	margin-left:70px;
}

.margin-left100 {
	margin-left:100px;
}

.margin-left115 {
	margin-left:115px;
}

.margin-left165 {
	margin-left:165px;
}

.margin-left115 {
	margin-left:115px;
}

.margin-left165 {
	margin-left:165px;
}

.margin-left200 {
	margin-left:200px;
}

.margin-left300 {
	margin-left:300px;
}

.margin-left335 {
	margin-left:335px;
}

.margin-left380 {
	margin-left:380px;
}

.margin-right0 {
	margin-right:0px;
}

.margin-right5 {
	margin-right:5px;
}

.margin-right10 {
	margin-right:10px;
}

.margin-right20 {
	margin-right:20px;
}

.margin-right30 {
	margin-right:30px;
}

.margin-right40 {
	margin-right:40px;
}

.margin-right50 {
	margin-right:50px;
}

.padding-left10 {
	margin-left:10px;
}

.padding-left15 {
	margin-left:15px;
}

.padding-left20 {
	margin-left:20px;
}

.padding-left30 {
	margin-left:30px;
}

.padding-right10 {
	margin-left:10px;
}

.padding-right15 {
	margin-left:15px;
}

.padding-right20 {
	margin-left:20px;
}

.padding-right30 {
	margin-left:30px;
}

.bgcoloreeeeee {
	background-color: #f5f5f5;
}

.padding5 {
	padding: 5px;
}

.padding10 {
	padding: 10px;
}

.color3399FF {
	color:#3399FF;
}